#I_container {
    display: flex;
    flex-wrap: wrap;
    // align-items: 
    justify-content: space-around;
    background-color: #33AAFF;
    width:175vh;
    max-width: 400vh;
    padding: 40px;
    height: 500vh;
  
    > a {
      text-decoration: none;
    }
  }
  .box {
    flex: 0 30 50%;
    flex-direction: row;
    text-align: left;
    background-color: #99D5FF;
    background-position: left;
    color: black;
    padding: 10px;
    // overflow-y: scroll;
    max-height: 1000px;
  
  
    > h2 {
      font-size: 1.75rem;
      margin: 15px 0;
    }
  
    
  }
  .box1 {
    flex: 0 30 50%;
    flex-direction: row;
    text-align: center;
    background-color: #99EEFF;
    background-position: left;
    color: black;
    padding: 10px;
    // overflow-y: scroll;
    max-height: 80px;
  
  
    > h2 {
      font-size: 1.75rem;
      margin: 15px 0;
    }
  
    
  }
  #box2 {
    display: flex;
    flex-direction: row;
    // align-items: 
    background-color: #44CCFF;
    width: 50%;
    max-width: 1000px;
    padding: 40px;
    height: 35vh;
  
  
    > h2 {
      font-size: 2.50rem;
      margin: 15px 0;
    }
  
    
  }
// this is for font2 
  .font2{
      position: relative;
      bottom: 10%;
    font-size: 2.50rem;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 130px;
    margin-inline-end: 100px;
  }

  #box3{
    position: relative;
    left: 50%;
    bottom: 35vh;

    display: flex;
    flex-wrap: wrap;
    // align-items: 
    background-color: #F5FFA8;

    width: 43vh;
    max-width: 1000px;
    padding: 40px;
    height: 35vh;
  
    > h2 {
      font-size: 2.50rem;
      margin: 15px 0;
    }
  }