#container {
  padding: 20px;
  flex: 1 0 50%;
  background-color: #99eeff;
  display: flex;
  justify-content: space-between;

  > label {
    margin-top: 15px;
    flex: 1 0 calc(20% - 40px);
  }

  > textarea {
    padding: 15px;
    border-radius: 5px;
    flex: 1 0 calc(80% - 40px);
  }
}