#container {
  flex: 1 0 25%;
  background-color: #c533ff;
  display: flex;
  justify-content: center;
  align-items: baseline;

  > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b2ffb2;
    width: 50%;
    height: 90%;

    > label {
      text-align: center;
    }

    > input {
      transform: scale(1.5);
    }
  }
}
